<!-- Input new comics into database -->
<div class="inputContainer">
    <form class="container justify-contents-center">
        <div class="row mx-auto">
            <h2 class="mx-auto mt-3">Comic Collection</h2>
        </div>
        <div class="input-group col-xl-6 col-lg-6 col-md-8 col-12 mx-auto">
            <input id="titleIn" class="form-control" placeholder="" ng-model="ec.titleIn" required></input>

            <div class="input-group-append">
                <span class="input-group-text">Title</span>
            </div>
        </div>

        <div class="input-group col-xl-6 col-lg-6 col-md-8 col-12 mx-auto">
            <input type="number" id="issueIn" class="form-control" placeholder="" ng-model="ec.issueIn"></input>

            <div class="input-group-append">
                <span class="input-group-text">Issue</span>
            </div>
        </div>

        <div class="input-group col-xl-6 col-lg-6 col-md-8 col-12 mx-auto">
            <input id="writerIn" class="form-control" placeholder="" ng-model="ec.writerIn" required></input>

            <div class="input-group-append">
                <span class="input-group-text">Writer(s)</span>
            </div>
        </div>


        <div class="input-group col-xl-6 col-lg-6 col-md-8 col-12 mx-auto">
            <input id="interiorArtIn" class="form-control" placeholder="" ng-model="ec.interiorArtIn"></input>

            <div class="input-group-append">
                <span class="input-group-text">Interior Artist(s)</span>
            </div>
        </div>


        <div class="input-group col-xl-6 col-lg-6 col-md-8 col-12 mx-auto">
            <input id="coverArtIn" class="form-control" placeholder="" ng-model="ec.coverArtIn"></input>

            <div class="input-group-append">
                <span class="input-group-text">Cover Artist(s)</span>
            </div>
        </div>

        <div class="input-group col-xl-6 col-lg-6 col-md-8 col-12 mx-auto">
            <input id="publisherIn" class="form-control" placeholder="" ng-model="ec.publisherIn"></input>

            <div class="input-group-append">
                <span class="input-group-text">Publisher</span>
            </div>
        </div>

        <div class="input-group col-xl-6 col-lg-6 col-md-8 col-12 mx-auto">
            <input type="date" id="releaseIn" class="form-control" placeholder="" ng-model="ec.releaseIn"></input>

            <div class="input-group-append">
                <span class="input-group-text">Release Date</span>
            </div>
        </div>

        <div class="input-group col-xl-6 col-lg-6 col-md-8 col-12 mx-auto">
            <input type="number" id="pageCountIn" class="form-control" placeholder="" ng-model="ec.pageCountIn"></input>

            <div class="input-group-append">
                <span class="input-group-text">Page Count</span>
            </div>
        </div>

        <div class="input-group col-xl-6 col-lg-6 col-md-8 col-12 mx-auto">
            <input id="imageIn" class="form-control" placeholder="" ng-model="ec.imageIn"></input>

            <div class="input-group-append">
                <span class="input-group-text">Cover URL</span>
            </div>
        </div>

        <div class="input-group col-xl-6 col-lg-6 col-md-8 col-12 mx-auto">

            <select id="genre" class="custom-select" ng-model="ec.genreIn">
                <!-- not selected / blank option -->
                <option value="">Choose...</option>

                <!-- use ng-repeat to populate with items from database -->
                <!-- value is assigned by the object id -->
                <option>placeholder</option>
                <option>placeholder</option>
                <option>placeholder</option>
                <option>placeholder</option>
                <option>placeholder</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect01">Genre</label>
            </div>
        </div>

        <div class="input-group col-xl-6 col-lg-6 col-md-8 col-12 mx-auto">
            <button class="col btn btn-primary" ng-click="ec.addNewComic()">Submit</button>
        </div>

</div>

<div class="row">

    <!-- Display Cards with each comic -->
    <!-- Elements retrieved from the database will not show if they are null/undefined -->
    <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 shadow" ng-repeat="comic in ec.allComicEntries">

        <!-- Comic Title and Release DAte -->
        <div class="column card-header">
            <comicTitle>{{comic.title}}
                <span ng-show="comic.issue">, #{{comic.issue}}</span>
            </comicTitle>
            <div>
                <span ng-show="comic.release_date"> {{comic.release_date}}</span>
            </div>
        </div>


        <div class="card-body row">
            <div class="col-6">
                <div class="row">
                    <img class="shadow-sm" ng-src="{{comic.image_url}}" width="150px">
                </div>


                <div class="row mx-auto">
                    <!-- Read status -->
                    <button class="btn shadow-sm" ng-class="comic.did_read ? 'btn-primary' : 'btn-light'">
                        <i class="fas fa-book"></i>
                    </button>
                    <!-- Favorite Status -->
                    <button class="btn shadow-sm" ng-class="comic.favorite ? 'btn-success' : 'btn-light'">
                        <i class="fas fa-heart"></i>
                    </button>
                    <!-- Delete -->
                    <button class="btn btn-danger shadow-sm" ng-click="ec.deleteComic(comic.title, comic.issue, comic.written_by)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>

            <div class="col-5 card-text">
                <div ng-show="comic.written_by">
                    <h5>Written by:</h5>
                    <h6>{{comic.written_by}}</h6>
                </div>
                <div ng-show="comic.cover_by">
                    <h5>Cover Art:</h5>
                    <h6>{{comic.cover_by}}</h6>
                </div>
                <div ng-show="comic.art_by">
                    <h5>Interior Art:</h5>
                    <h6>{{comic.art_by}}</h6>
                </div>
                <div ng-if="comic.genre !== 'NA'">
                    <h5>Genre:</h5>
                    <h6>{{comic.genre}}</h6>
                </div>
                <div ng-show="comic.page_count">
                    <h5>Length:</h5>
                    <h6>{{comic.page_count}} pages</h6>
                </div>
            </div>

        </div>
    </div>
</div>