<div>
    <div class="col-12 mx-auto">

        <header class="mx-auto">
            <h2>Genres</h2>
        </header>


        <div class="mx-auto row">
            <div class="mx-auto">
                <input id="newGenreInput" type="text" ng-model="gc.genreIn" placeholder="New Genre"></input>
                <input id="genreImgIn" type="text" ng-model="gc.genreImgIn" placeholder="Cover Image URL">
                <button class="btn btn-primary" ng-click="gc.addGenre()">Add</button>
            </div>
        </div>


    </div>



    <div class="col">
        <div class="card col-12 shadow mx-auto row" ng-repeat="genre in gc.allGenres">
            <div class="column">
                <button class="btn btn-danger" ng-click="gc.deleteGenre(genre.genre)">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="column">
                <h4>
                    {{genre.genre}}
                </h4>
            </div>
        </div>
    </div>
</div>